<div class="bg-gray-100 min-h-screen p-6">
    <div class="content-container bg-white flex-1 flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-10 max-w-5xl mx-auto p-10 my-4 rounded-2xl shadow-lg">
      <!-- Navigation -->
      <app-colegio-navbar [currentPage]="'Colegioprofesores'"></app-colegio-navbar>
      <!-- Fin de navegación -->
  
      <div class="flex-1 p-6">
        <div class="flex justify-between items-center mb-6">
          <h1 class="font-bold text-green-600 text-3xl lg:text-5xl">Nuestros Profesores</h1>
        </div>
        <div class="flex">
          <div class="w-1/2 bg-gray-200 h-1 my-2"></div>
          <div class="w-1/2"></div> <!-- Espacio vacío para ocupar el resto -->
        </div>
        <div class="flex justify-between items-center mb-6"></div>
        <!-- Nuevas publicaciones -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
          <div *ngFor="let profesor of profesores$ | async" class="bg-white p-6 rounded-lg shadow-lg card">
            <div class="flex items-center space-x-4">
              <div class="w-16 h-16 bg-gray-300 rounded-full overflow-hidden">
                <img [src]="profesor.photoUrl || 'https://via.placeholder.com/150'" alt="Imagen" class="w-full h-full object-cover">
              </div>
              <div>
                <h2 class="text-lg font-medium text-gray-800">{{ profesor.name }} {{ profesor.lastname }}</h2>
                <p class="text-sm text-gray-500">Curso: {{ profesor.curso }}</p>
              </div>
            </div>
            <div class="mt-4">
              <p class="text-sm text-gray-600"><strong>Nombre:</strong> {{ profesor.name }} {{ profesor.lastname }}</p>
              <p class="text-sm text-gray-600"><strong>Documento:</strong> {{ profesor.identificacion }}</p>
              <p class="text-sm text-gray-600"><strong>Email:</strong> {{ profesor.email }}</p>
            </div>
            <div class="mt-4 flex space-x-2">
              <button class="flex-1 bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700" (click)="openModal(profesor)">Editar</button>
              <button class="flex-1 bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700" (click)="deleteProfesor(profesor)">Borrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="modal" class="fixed z-10 inset-0 overflow-y-auto hidden modal">
      <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4" style="position: relative;">
            <!-- Botón de cerrar modal -->
            <div style="position: absolute; top: 0; right: 0; padding: 1rem;">
              <button type="button" (click)="closeModal()" class="text-gray-400 hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-label="Cerrar">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="sm:flex sm:items-start">
              <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">
                <svg class="h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4H8l4-4 4 4h-3v4z" />
                </svg>
              </div>
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Editar Datos del Profesor</h3>
                <div class="mt-4">
                  <label class="block text-sm font-medium text-gray-700">Foto de perfil</label>
                  <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                    <div class="space-y-1 text-center">
                      <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                        <path d="M28 8H20v8h8V8zM10 8h4v12H6.64L4 10l6-2v4h4V4h2v4h4V4H8z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <div class="flex text-sm text-gray-600">
                        <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-green-600 hover:text-green-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-green-500">
                          <span>Sube tu foto de perfil</span>
                          <input id="file-upload" name="file-upload" type="file" class="sr-only" (change)="handleFileInput($event)">
                        </label>
                        <p class="pl-1">o arrastra y suelta</p>
                      </div>
                      <p class="text-xs text-gray-500">PNG, JPG, GIF hasta 10MB</p>
                    </div>
                  </div>
                  <div class="mt-4">
                    <label class="block text-sm font-medium text-gray-700">Nombre</label>
                    <input type="text" class="w-full mt-1 border border-gray-300 rounded-md p-2" [(ngModel)]="selectedProfesor.name" />
                  </div>
                  <div class="mt-4">
                    <label class="block text-sm font-medium text-gray-700">Apellido</label>
                    <input type="text" class="w-full mt-1 border border-gray-300 rounded-md p-2" [(ngModel)]="selectedProfesor.lastname" />
                  </div>
                  <div class="mt-4">
                    <label class="block text-sm font-medium text-gray-700">Documento</label>
                    <input type="text" class="w-full mt-1 border border-gray-300 rounded-md p-2" [(ngModel)]="selectedProfesor.identificacion" />
                  </div>
                  <div class="mt-4">
                    <label class="block text-sm font-medium text-gray-700">Email</label>
                    <input type="email" class="w-full mt-1 border border-gray-300 rounded-md p-2" [(ngModel)]="selectedProfesor.email" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm" (click)="saveChanges()">Guardar</button>
            <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 sm:mt-0 sm:w-auto sm:text-sm" (click)="closeModal()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  